<section class="admin-board row">
	<div class="col-6 col-md-3 mb-1">
		<div class="bg-info p-10 text-white text-center">
			<i class="fa fa-user m-b-5 font-20"></i>
			<h5 class="m-b-0 m-t-5">{{board.total_users}}</h5>
			<small class="font-light">Total Users</small>
		</div>
	</div>
	<div class="col-6 col-md-3 mb-1">
		<div class="bg-info p-10 text-white text-center">
			<i class="fa fa-plus m-b-5 font-20"></i>
			<h5 class="m-b-0 m-t-5">{{board.total_master}}</h5>
			<small class="font-light">Total Master Franchises</small>
		</div>
	</div>
	<div class="col-6 col-md-3 mb-1">
		<div class="bg-info p-10 text-white text-center">
			<i class="fa fa-cart-plus m-b-5 font-20"></i>
			<h5 class="m-b-0 m-t-5">{{board.new_users}}</h5>
			<small class="font-light">New users</small>
		</div>
	</div>
	<div class="col-6 col-md-3 mb-1">
		<div class="bg-info p-10 text-white text-center">
			<i class="fa fa-tag m-b-5 font-20"></i>
			<h5 class="m-b-0 m-t-5">{{board.earing}}</h5>
			<small class="font-light">Your earnings</small>
		</div>
	</div>
</section>